@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Saira', sans-serif; */

/* ---------- Обнуление ---------- */
*,
*::before,
*::after {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
body,
html {
    width: 100%; height: 100%;
}
ul,
li,
ol {
    list-style-type: none;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
/* __________ Обнуление __________ */

/* ----------- ---------- */
/* ___________ __________ */

.wrapper-body {
    /* Относительно позиционирование, которое позволит позиционировать .content и
    .menu относительно этого родителя */
    position: relative;

    /* Всё, что будет выходить за рамки веб-страницы по оси Х будет скрываться */
    overflow-x: hidden;
}

/* ---------- Контент ---------- */

.section {

    /* Секции занимают 100% от высота экрана - 100 view height */
    height: 100vh;

    /* Блоки ведут себя как блочные и выстраивают дочерние элементы 
    согласно флекс-модели*/
    display: flex;

    /* Расположение по центру согласно флекс-осям и по центру одной линии */
    justify-content: center;
    align-items: center;
}

.header {
    background-color: #55efc4;
}
.promo {
    background-color: #74b9ff;
}
.products {
    background-color: #ffeaa7;
}
.footer {
    background-color: #fd79a8;
}

.content {
    /* Плавность трансформаций */
    transition: all 1s ease;

    /* Весь контент веб-страницы будет расположим глубже по оси Z */
    z-index: 0;
}

.content__active {
    /* Смещение по оси Х на 30%, так как блок .menu имеет ширину 30% */
    transform: translateX(30%);
}

/* __________ Контент __________ */

/* ----------- Меню ---------- */

.menu {

    /* Для фиксированного позиционирования характерно то, что содержащим блоком
    является окно просмотра, тем самым элементы не перемещаются при прокрутке. 
    Поэтому такой блок полностью удаляется относительно нормально потока и не 
    имеет позиции относительно какой-либо части документа */
    position: fixed;

    /* Прибиваем к верхнему левому краю */
    left: 0; top: 0;

    /* Блок занимает 30 процент ширину от родителя - .wrapper-body */
    width: 30%;

    /* Блок занимает высоту равную высоте окна просмотра */
    height: 100vh;

    /* Цвет фона */
    background-color: #dfe6e9;

    /* Плавность трансформаций */
    transition: all 1s ease;

    /* Изначально .menu скрыт по оси Х на 100 процентов */
    transform: translateX(-100%);

    /* Блок .menu расположен выше по оси Z, чем блок .content */
    z-index: 5;
}

.menu__active {
    /* При добавлении этого класса к .menu, скрытие по оси Х на 100 процентов
    отменяется и блок показывается на экране */
    transform: translateX(0%);
}

.menu__button {

    /* Абсолютное позиционирование позволяет удалить этот объект из нормального
    потока и не влиять на свое окружение. Также определяется явное смещение
    относительно содержащего его блока */
    position: absolute;

    /* Негативное смещение позволяет выйти за пределы содержащего блока
    и не скрываться полностью, когда родитель скрыт */
    right: -60px ; top: 10px;

    /* Оформеление */
    width: 50px; height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    
}

.menu__nav {
    /* Блок занимает всю высоту родителя */
    height: 100%;

    /* Блок ведет себя как блочный и выстраивает элементы
    согласно флекс-модели */
    display: flex;

    /* Распологаем дочерние элементы по центру родителя */
    align-items: center;
    justify-content: center;
}

.menu__list {
    /* Блок ведет себя как блочный и выстраивает элементы
    согласно флекс-модели */
    display: flex;
    /* Распологаем дочерние элементы по центру строки */
    align-items: center;

    /* Распологаем элементы так, чтобы было одинаковое расстояние
    между ними со всех сторон */
    justify-content: space-around;

    /* Выстраиваем элементы в колонку */
    flex-direction: column;

    /* Блок занимает 50 процентов ширины от родителя */
    height: 50%;
}

.menu__link {
    /* Текст трансформируется в заглавные буквы */
    text-transform: uppercase;

    /* Цвет текста */
    color: #000;
}

/* ___________ Меню __________ */

/* ----------- Анимация кнопки меню ---------- */

span {

    /* Элемент становится блочным, чтобы задавать ширину и высоту */
    display: block;

    /* Ширина и высота */
    width: 30px; height: 3px;

    /* Абсолютное позиционирование позволяет удалить этот объект из нормального
    потока и не влиять на свое окружение. Также определяется явное смещение
    относительно содержащего его блока */
    position: absolute;

    /* Смещения абсолютно позиционированного элемента для того, чтобы
    выравнить его ровно по центру */
    top: 50%; margin-top: -1.5px;
    left: 50%; margin-left: -15px;

    /* Цвет фона */
    background-color: #000;
}

span::before,
span::after {
    content: "";
    /* Элемент становится блочным, чтобы задавать ширину и высоту */
    display: block;

    /* Абсолютное позиционирование позволяет удалить этот объект из нормального
    потока и не влиять на свое окружение. Также определяется явное смещение
    относительно содержащего его блока */
    position: absolute;

    /* Смещения абсолютно позиционированного элемента для того, чтобы
    выравнить его ровно по центру */
    top: 50%; margin-top: -1.5px;
    left: 50%; margin-left: -15px;

    /* Ширина и высота */
    width: 30px; height: 3px;

    /* Цвет фона */
    background-color: #000;

    /* Плавность трансформаций */
    transition: all 0.3s ease;
}

span::before {
    /* Элемент ДО смещается на минус 7px по оси Y */
    transform: translateY(-7px)
}
span::after {
    /* Элемент ПОСЛЕ смещается на 7px по оси Y */
    transform: translateY(7px)
}

.button__click span {
    height: 0;
}

.button__click span::before {
    transform: rotate(-45deg);
}

.button__click span::after {
    transform: rotate(45deg);
}

/* ___________ Анимация кнопки меню __________ */